(defpackage overmind-agents.db
  (:use :cl)
  (:export with-sqlite-connection
	   with-postgres-connection))
(in-package overmind-agents.db)

;; For mysql or postgres.
(defparameter *db-name* "")
(defparameter *db-user* "")
(defparameter *db-pass* "")

;; For sqlite3.
(defparameter *db-path* "")

(defmacro with-postgres-connection (&rest body)
  ;; `datafly` could be connected to another database. Disconnecting.
  (when datafly:*connection*
    (datafly:disconnect-toplevel))
  ;; Connecting to Overmind Agents database.
  (datafly:connect-toplevel :postgres :database-name *db-name* :username *db-user* :password *db-pass*)
  `(progn ,@body))

(defmacro with-sqlite-connection (&rest body)
  ;; `datafly` could be connected to another database. Disconnecting.
  (when datafly:*connection*
    (datafly:disconnect-toplevel))
  ;; Connecting to Overmind Agents database.
  (datafly:connect-toplevel :sqlite3 :database-name *db-path*)
  `(progn ,@body))